@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --primary-color: #f5f6fa;
  --secondary-color: #6200ee;
  --text-color: #000000;
  --light-text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--secondary-color);
  padding: 10px 20px;
  font-weight: bold;
  color: var(--light-text-color);
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}

/* Main container */
.container {
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 20px 0;
}

.navbar .logo {
  width: 75px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  color: var(--text-color);
}

.navbar ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

/* Showcase */
.showcase {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.showcase-content {
  padding-bottom: 50px;
  text-align: center;
}

.showcase-content h2 {
  font-size: 200%;
  margin: 40px;
}

.showcase-content .btn {
  margin-top: 50px;
}

.showcase img {
  width: 500px;
  height: 500px;
}

/* Cards */
.home-cards {
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 100px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards p {
  color: var(--text-color);
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: var(--light-text-color);
  font-weight: bold;
}

.card {
  padding: 10px;
  text-align: center;
}

.card img {
  width: 250px;
  height: 250px;
}

.card .btn {
  margin: 20px;
}

/* Testimonial */
.testimonial {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.testimonial div h2 {
  padding: 50px 0;
}

.testimonial div .btn {
  margin: 50px 0;
}

.testimonial img {
  width: 50%;
}

/* Mission */
.mission {
  width: 100%;
  background: #4776e6;
  background: linear-gradient(to right, #8e54e9, #4776e6);
  margin: 20px 0;
}

.mission-content {
  width: 55%;
  padding: 50px 50px;
}

.mission-content h2 {
  margin: 50px 0;
}

.mission-content .btn {
  margin: 20px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.mission img {
  width: 500px;
  height: 500px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 50px 80px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  color: var(--light-text-color);
  padding: 0 10px;
}

.footer ul li a {
  color: var(--light-text-color);
}

.footer ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

.copyright {
  justify-self: flex-end;
}

.slider {
  position: relative;
  width: 960px;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'] {
  background-color: #ff4081;
}

#btn-2:checked ~ .slider-controls label[for='btn-2'] {
  background-color: #ff4081;
}

#btn-3:checked ~ .slider-controls label[for='btn-3'] {
  background-color: #ff4081;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 600px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ff4081;
}

.slide-image img {
  max-width: 100%;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}
