@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --primary-color: #f5f6fa;
  --secondary-color: #7f8fa6;
  --text-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--secondary-color);
  padding: 10px 20px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}

/* Main container */
.container {
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 20px 0;
}

.navbar .logo {
  width: 75px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  color: var(--text-color);
}

.navbar ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

/* Showcase */
.showcase {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.showcase-content {
  padding-bottom: 50px;
  text-align: center;
}

.showcase-content h2 {
  font-size: 200%;
  margin: 40px;
}

.showcase-content .btn {
  margin-top: 50px;
}

.showcase img {
  width: 500px;
  height: 500px;
}

/* Cards */
.home-cards {
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 100px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards p {
  color: var(--text-color);
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: var(--text-color);
  font-weight: bold;
}

.card {
  padding: 10px;
  text-align: center;
}

.card img {
  width: 250px;
  height: 250px;
}

.card .btn {
  margin: 20px;
}

/* Testimonial */
.testimonial {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.testimonial div h2 {
  padding: 50px 0;
}

.testimonial div .btn {
  margin: 50px 0;
}

.testimonial img {
  width: 50%;
}

/* Mission */
.mission {
  width: 100%;
  background: url('./images/mission.png') no-repeat center center/cover;
  margin: 20px 0;
}

.mission-content {
  width: 55%;
  padding: 50px 50px;
}

.mission-content h2 {
  margin: 50px 0;
}

.mission-content .btn {
  margin: 20px 0;
}

.mission img {
  width: 500px;
  height: 500px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 50px 80px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  color: var(--text-color);
  padding: 0 10px;
}

.footer ul li a {
  color: var(--text-color);
}

.footer ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

.copyright {
  justify-self: flex-end;
}
