@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --first: #0c056d;
  --second: #590d82;
  --third: #b61aae;
  --fourth: #f25d9c;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --text: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--fourth);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-text);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--first);
  padding: 10px 20px;
  font-weight: bold;
  color: var(--text);
  font-size: 15px;
}

.btn:hover {
  opacity: 0.7;
}

/* Main container */
.container {
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* height: 60px; */
  padding: 20px 0;
}

.navbar .logo {
  width: 100px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  color: var(--text);
}

.navbar ul li a:hover {
  border-bottom: 2px solid var(--secondary-text);
}

/* Showcase */
.showcase {
  width: 100%;
  display: flex;
  align-items: center;
}

.showcase-content {
  padding: 100px 0;
  text-align: center;
}

.showcase-content h2 {
  font-size: 200%;
  margin: 40px;
}

.showcase-content .btn {
  margin-top: 50px;
}

.showcase img {
  width: 500px;
  height: 500px;
}

/* Cards */
.home-cards {
  /* background-color: var(--first); */
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards p {
  color: var(--primary-text);
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: var(--primary-text);
  font-weight: bold;
}

/* Testimonial */
.testimonial {
  background-color: var(--second);
  color: var(--text);
  display: flex;
  align-items: center;
}

.testimonial div h2 {
  padding: 50px 0;
}

.testimonial div .btn {
  margin: 50px 0;
}

.testimonial img {
  width: 500px;
  height: 500px;
}

/* Mission */
.mission {
  display: flex;
}

.mission-content {
  width: 55%;
  padding: 50px 50px;
}

.mission-content h2 {
  margin: 50px 0;
}

.mission-content .btn {
  margin: 20px 0;
}

.mission img {
  width: 500px;
  height: 500px;
}

/* Footer */
.footer {
  background-color: var(--second);
  padding: 50px 80px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  color: var(--text);
  padding: 0 10px;
}

.footer ul li a {
  color: var(--text);
}

.footer ul li a:hover {
  border-bottom: 2px solid var(--secondary-text);
}

.copyright {
  justify-self: flex-end;
}
